h1 {
  color: darkcyan;
  margin-bottom: 20px;
  margin-top: 15px;
  font-family: 'Playfair Display', serif;
  font-size: 300%;
}

h1, p{
  text-align: center;
}

#images{
  float: right;
}

#number-of-clicks{
  float: left;
}

img {
  width: 250px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
}

li {
  margin-top: 15px
}
